.btn-custom-green {
    background-color: #7EEF92;
    color: black;
    border: none;
  }
  .btn-custom-green:hover {
    background-color: #6edb80;
    color: black;
  }
  .btn-custom-green:active {
    background-color: #5eca6e;
    color: black;
  }
  .btn-danger {
    color: black;
  }
  body {
    background-color: rgb(127, 178, 255);
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    font-family: Arial, sans-serif;
    width: 97%;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 50px;
    background-color: #dddddd;
  }
  td, th {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1 {
    text-align: center;
    margin-top: 30px;
  }